body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
}

.heading1{
    padding: 0;
    margin: 0;
    font-size: small;
}

.buttonlink{
    background-color: black;
    color: white;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    border: none;
    padding: 10px;
    padding-bottom: 0;
    display: block;
    font-size: small;
    text-decoration: none;
}

.link{
    color: #69696a;
    text-decoration: none;
    padding: 5px;
}

a: visited{
    color: #69696a;
    text-decoration: none;
}

p{
    border-left: 5px solid gray;
    padding: 10px;
    font-size: small;
}

.navigation{
    font-size: small;
    margin: none;
}

ul{
    list-style-type: none;
    padding: 5px;
}
