body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
}

button{
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    border: none;
    padding: 10px;
}

a:link{
    color: #69696a;
    text-decoration: none;
}

a: visited{
    color: #69696a;
    text-decoration: none;
}

p{
    border-left: 5px solid gray;
    padding: 10px;
}

ul{
    list-style-type: none;
    padding: 5px;
}
